<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About university</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{>navbar}}

    <section class="header">
        <div class="text-box">
            <h1>India's Prestigious University</h1>
            <p>Sathyabama is a prestigious institution which excels in the fields of Engineering, Science and  Technology for more than three successful decades. It offers multi-disciplinary academic programmes in various fields of Engineering, Science, Technology, law, Dental Science, Pharmacy, Nursing, Management, Arts and Science and Allied Health Sciences.  It is established under Sec.3 of UGC Act, 1956 and is been Accredited with ‘A’ Grade by the National Accreditation and Assessment council. The Institution persistently seeks and adopts innovative methods to improve the quality of higher education and is responsive to the changes taking place in the field of education on a global scale. The Institution has a team of dynamic and outstanding faculty, innovative pedagogical practices , state of the art infrastructure and world class Research Facilities. This glorious Institution is functioning under the dynamic leadership of Dr. Mariazeena Johnson, Chancellor, Dr. Marie Johnson, President, Mr. J. Arul Selvan Vice President, Ms. Maria Bernadette Tamilarasi, Vice President and  Ms.Maria Catherin Jayapriya Vice President.</p>
    
            <a href="" class="hero-btn">Visit us to know More</a>

        </div>
    </section>

    <section class="course">
        <h1>Courses We Offer</h1>
        <p>Computer Science and Engineering with specialization in IoT, B.E - Computer Science and Engineering with specialization in Artificial Intelligence and Robotics,B.E - Computer Science and Engineering with specialization in Artificial Intelligence and Machine Learning,B.E - Computer Science and Engineering with specialization in Block Chain Technology,B.E - Computer Science and Engineering with specialization in Cyber Security, M.E. Computer Science and Engineering programmes.</p>

        <div class="row">
            <div class="course-col">
                <h3>Intermediate</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique inventore debitis quam nesciunt magni aperiam qui tempora, reprehenderit rem, pariatur saepe aspernatur?</p>
            </div>
            <div class="course-col">
                <h3>Degree</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique inventore debitis quam nesciunt magni aperiam qui tempora, reprehenderit rem, pariatur saepe aspernatur?</p>
            </div>
            <div class="course-col">
                <h3>Post Graduation</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique inventore debitis quam nesciunt magni aperiam qui tempora, reprehenderit rem, pariatur saepe aspernatur?</p>
            </div>
        </div>
    </section>

<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quam placeat voluptatem aliquam voluptates autem quae. Amet, deserunt!</p>

    <div class="row">
        <div class="campus-col1">
            <img src="../../../backend/public/img/america.jpg" alt="">
            <div class="layer">
                <h3>LONDON</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="../../public/img/california.webp" alt="">
            <div class="layer">
                <h3>NEW YORK</h3>
            </div>
        </div>
        <div class="campus-col2">
            <img src="../../public/img/russia.jpg" alt="">
            <div class="layer">
                <h3>JAPAN</h3>
            </div>
        </div>
    </div>
</section>


<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi ratione itaque incidunt magni assumenda fugiat impedit eaque molestias? Voluptate?</p>

    <div class="row">
        <div class="facility-col">
            <img src="../../public/img/library.jpg" alt="">
            <h3>World Class Library</h3>
            <p>Central Library is the hub for information services in the institute and serves as a major learning and resource centre. It is a creative and innovative partner in supporting the teaching, learning, scholarship and research activities of the institute. With the fast growing collection, both in digital and print forms using the state-of-the-art facilities, the Central library is contributing at an higher extent to provide a world class academic institute.</p>
        </div>
        <div class="facility-col1">
            <img src="../../public/img/basketball.jpg" alt="">
            <h3>Largest Play Ground</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque velit ut debitis illum facilis nobis nam dolor maxime blanditiis expedita sed, quaerat, fugiat nulla nostrum at iusto voluptatibus aspernatur. Mollitia voluptatibus deleniti enim cupiditate unde quam qui quia explicabo aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptates nisi autem hic nobis vel ipsum nemo dignissimos, quibusdam numquam.</p>
        </div>
        <div class="facility-col2">
            <img src="../../public/img/cafeteria.jpg" alt="">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In deleniti modi at velit rem ex, sunt non quis, vero amet dicta ad sequi nobis sapiente excepturi, quasi culpa nihil. Perferendis, magnam! Corrupti eaque dolorem vero ea eos culpa voluptatibus nisi! Architecto iste aut ratione optio officiis voluptate quisquam cumque quasi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, voluptate!</p>
        </div>
    </div>
</section>


<section class="test">
    <h1>What Our Student Says</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ullam unde ipsa ad tenetur?</p>

    <div class="row">
        <div class="test-col">
            <img src="../../public/img/dhruthi.jpeg" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse culpa excepturi fuga, blanditiis eaque exercitationem qui unde non perferendis tempora aliquid illum quaerat iusto hic mollitia minus ipsam quo incidunt.</p>
                <h3>ShreeDhruthi Rao</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="test-col">
            <img src="../../public/img/shubham.jpeg" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse culpa excepturi fuga, blanditiis eaque exercitationem qui unde non perferendis tempora aliquid illum quaerat iusto hic mollitia minus ipsam quo incidunt.</p>
                <h3>Shubham Kumar</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>



<section class="cta">
    <h1>Enroll For Our Various Courses <br> Anywhere From The World</h1>
    <a href="" class="hero-btn">CONTACT US</a>
</section>


<section class="footer">
    <h4>About Us</h4>
    <p>Sathyabama is a prestigious institution which excels in the fields of Engineering, Science and  Technology for more than three successful decades. It offers multi-disciplinary academic programmes in various fields of Engineering, Science, Technology, law, Dental Science, Pharmacy, Nursing, Management, Arts and Science and Allied Health Sciences.  It is established under Sec.3 of UGC Act, 1956 and is been Accredited with ‘A’ Grade by the National Accreditation and Assessment council. </p>

    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"> </i> by Shubham Kumar-40111213</p>
</section>
</body>
</html>