<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">
        <div id="logo">
            <img src="https://advisie.nl/files/_thumbnail/10380/4e2a8afe55f4_logo_optimizers_za.png" alt="The optimizers">
        </div>

        <ul>
            <li class="item"><a href="/home">Home</a></li>
            <li class="item"><a href="/university">About University</a></li>
            <li class="item"><a href="">Course Offered</a></li>
            <li class="item"><a href="/login">Login</a></li>
            <li class="item"><a href="/register">Registration</a></li>
        </ul>
    </nav>
</body>
</html>